html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

.row-header {
    /* margin: 0px auto; */
    margin-top: 40px;
    padding: 0px 0px; 
}

.row-header * {
    padding-bottom: 1px;
}
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebf5ff;
    box-shadow: 0px -2px 6px #00000018;
}

.jumbotron {
    margin: 0px auto;
    padding: 16px 0px 40px 0px;
    background: #D6EBFF;
    box-shadow: 0px 2px 4px #00000020;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; 
}

body {
    position: relative;
    padding: 50px 0px 0px 0px;
    z-index: 0;
    margin-bottom: 60px;
    font-size: 17px;
    color: #24292E;
}

p {
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
}

hr {
    opacity: 0.15;
}

hr.row-item {
    width: 60%;
    opacity: 0.07;
    margin: 1rem auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-dark {
    background-color: #003e74;
    box-shadow: 0px 2px 4px #00000060;
}

.navbar-nav a:not(:hover) {
    border-bottom: 0.2rem solid #aaaaaaff;
    border-bottom-color: transparent;
}

.navbar-nav a:hover {
    border-bottom: 0.2rem solid #aaaaaa;
}

.navbar-nav a.active {
    border-bottom: 0.2rem solid floralwhite;
}

.nav-link {
    padding: 0.1rem;
    margin: 0.4rem 0.4rem 0.2rem 0.4rem;
}

.navbar-brand {
    padding-left: 5px;
    padding-right: 20px;
}

.modal-header {
    background: #003e74;
    color: floralwhite; 
}

.modal-header button {
    color: floralwhite; 
}

.modal-body {
    background: #D1C4E9; 
}

@media (max-width: 767px) {
    .col-12 {
        margin-top:10px;
    }

    #main_content {
        margin: 0px 10px 0px 10px;
    }

    .navbar-nav > li{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }    
}

:target{
    position: relative;
    border-top: 50px solid transparent;
    margin: -50px 0 0;
    background-clip: padding-box;
}

a:not([class^="btn"]):not(.nav-link) {
    text-decoration: none;
}

a:not([class^="btn"]):not([class^="navbar-brand"]):not(.nav-link):hover {
    text-decoration: underline;
}

#more_news_btn:hover{
    text-decoration: none;
}

#more_news_btn[aria-expanded="false"]:after  {
    content: '▼ Read More';
}

#more_news_btn[aria-expanded="true"]:after {
    content: '▲ Read Less';
}

.container {
    max-width: 800px;
}

.btn-group-sm > a {
    margin-bottom: 6px;
}

#profile-photo {
    box-shadow: 2px 2px 4px #00000030;
}

#profile-info {
    padding-left: 40px;
    padding-right: 40px;
}