html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

.row-header {
    /* margin: 0px auto; */
    margin-top: 40px;
    padding: 0px 0px; 
}

.row-header * {
    padding-bottom: 1px;
}
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ebf5ff;
}

.jumbotron {
    margin: 0px auto;
    padding: 40px 0px;
    background: #D6EBFF;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; 
}

body {
    position: relative;
    padding: 50px 0px 0px 0px;
    z-index: 0; 
    margin-bottom: 60px;
}

h2 {
    font-size: 2rem;
}

hr {
    opacity: 0.15;
}

hr.row-item {
    width: 60%;
    opacity: 0.07;
    margin: 1rem auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-dark {
    background-color: #003e74; 
}

.navbar-nav > li{
    padding-left:30px;
}

.navbar-nav a:hover {
    border-bottom: 3px solid #aaaaaa;
}

.navbar-nav a.active {
    border-bottom: 3px solid white;
}

.navbar-brand {
    padding-left:5px;
}

.modal-header {
    background: #003e74;
    color: floralwhite; 
}

.modal-header button {
    color: floralwhite; 
}

.modal-body {
    background: #D1C4E9; 
}

@media (max-width: 767px) {
    .col-12 {
        margin-top:10px;
    }
}

:target{
    padding-top: 50px;
    margin-top: -50px;
}

a:not([class*="btn"]):not(.nav-link) {
    text-decoration: none;
}
a:not([class*="btn"]):not(.nav-link):hover {
    text-decoration: underline;
}

#more_news_btn[aria-expanded="false"]:after  {
    content: '▼ Read More';
}

#more_news_btn[aria-expanded="true"]:after {
    content: '▲ Read Less';
}
